@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.perspectiveContainer {
  width: 100%;
  min-height: 100vh;
  perspective: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 900px;
  padding: 2rem;
  margin-top: 6rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  line-height: 1.7;
  font-size: 1.05rem;
  text-align: justify;
}

p{
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
}

.card {
  flex: 1;
  min-width: 250px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgb(255, 255, 255);
  padding: 1.5rem;
  color: #c4f5ff;
  text-align: center;
}

.card h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .content {
    max-width: 720px;
    font-size: 1rem;
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 92%;
    font-size: 0.95rem;
    margin-top: 5rem;
    padding: 1rem;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .content {
    font-size: 0.9rem;
    margin-top: 10rem;
  }
  .title {
    font-size: 2rem;
  }
}
